@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F2C12E, #F2AE30, rgb(255, 166, 0));
}

main { 
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
    width: 800px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F2A71B;
    text-align: center;
    text-shadow: 1px 1px 2px #8f5d00ec;
}

h2 {
    color: #1f56ec;
}

p {
    text-align: justify;
}